// _effects.scss

:root {
    // ======================================================
    // 
    // 动画和过渡 (Transitions & Animations)
    // 
    // ======================================================

    --transition-fast: all 0.2s ease-in-out; // 快速过渡
    --transition-normal: all 0.3s ease; // 常规过渡
    --transition-slow: all 0.5s ease-in-out; // 慢速过渡

    // ======================================================
    // 
    // 光晕和阴影 (Shadows)
    // 
    // ======================================================

    --focus-shadow-sm: 0 0 0.125rem var(--focus-shadow-color); // 小光晕
    --focus-shadow-md: 0 0 0.25rem var(--focus-shadow-color); // 中光晕
    --focus-shadow-lg: 0 0 0.5rem var(--focus-shadow-color); // 大光晕

    --box-shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1); // 小阴影
    --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1); // 中阴影
    --box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1); // 大阴影

    // ======================================================
    // 
    // 变换 (Transformations)
    // 
    // ======================================================
    --transform-scale-sm: scale(0.98); // 小缩放
    --transform-scale-md: scale(0.95); // 中缩放
    --transform-scale-lg: scale(0.9); // 大缩放
}